<block-ui>
<div class="d-flex justify-content-center"><label>Catálogo de Ciclos</label></div>

<div class="container">
  <input type="text" [(ngModel)]="searchString" class="form-control mb-3" placeholder="Buscar en la tabla...">
  <div>
    <select (change)="onTableSizeChange($event)" class="form-control" style="width: 200px;">
      <option value="5" selected>No. de registros</option>
      <option *ngFor="let item of tableSizes">{{item}}</option>
    </select>
  </div><br>
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="limpiar()">Agregar
    Ciclo</button>
  <table class="table table-fixed">
    <thead>
      <tr>
        <th class="col-xs-3">Ciclo</th>
        <th class="col-xs-3">Periodo</th>
        <th class="col-xs-3">Estatus</th>
        <th class="col-xs-3">Fecha de Inicio</th>
        <th class="col-xs-3">Fecha Final</th>
        <th class="col-xs-3">Editar</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of (filteredUsuarios | paginate: {
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      }); let i=index">
        <td class="col-xs-3">{{item.titulo}}</td>
        <td class="col-xs-3">{{item.periodo}}</td>
        <td class="col-xs-3">
          <ng-template [ngIf]="item.activo" [ngIfElse]="elseBlock">
            <label>Activo</label>
          </ng-template>
          <ng-template #elseBlock>
            <label>Inactivo</label>
          </ng-template>
        </td>
        <td class="col-xs-3">{{item.fechaInicio}}</td>
        <td class="col-xs-3">{{item.fechaFin}}</td>
        <td class="col-xs-3"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="GetCiclo(item.cicloID)">Editar</button></td>
      </tr>
    </tbody>
  </table>
  <div>
    <pagination-controls previousLabel="Ant" nextLabel="Sig" [responsive]="true"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ciclos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Titulo:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="ciclo.titulo">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Periodo:</label>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="ciclo.periodo">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Estatus:</label>
            <select class="form-control" [(ngModel)]="ciclo.activo">
              <option selected="selected">Seleccione una Opción</option>
              <option [ngValue]="true">Activo</option>
              <option [ngValue]="false">Inactivo</option>
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Fecha de Inicio:</label>
            <input type="date" class="form-control" id="recipient-name" [(ngModel)]="ciclo.fechaInicio">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Fecha Final:</label>
            <input type="date" class="form-control" id="recipient-name" [(ngModel)]="ciclo.fechaFin">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Cierre de Evaluación:</label>
            <input type="date" class="form-control" id="recipient-name" [(ngModel)]="ciclo.fechaCierreExamen">
          </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #myModalClose>Cerrar</button>
        <ng-template [ngIf]="ciclo.cicloID" [ngIfElse]="elseBlock">
          <button type="button" class="btn btn-primary" id="act" name="act" (click)="ActCiclo()">Actualizar Ciclo</button>
        </ng-template>
        <ng-template #elseBlock>
          <button type="button" class="btn btn-primary" id="guarda" name="guarda" (click)="Guardar()">Guardar Ciclo</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
</block-ui>