<block-ui>
<div class="d-flex justify-content-center"><label>Alumnos</label></div>

<div class="container">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="limpiar()">Agregar Alumno</button>
    <table class="table table-fixed">
      <thead>
        <tr>
          <th class="col-xs-2">Matrícula</th>
          <th class="col-xs-6">Nombre</th>
          <th class="col-xs-2">Editar</th>
          <th class="col-xs-2">Cancelar</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Alumnos">
          <td class="col-xs-2">{{item.matricula}}</td>
          <td class="col-xs-6">{{item.paterno}} {{item.materno}} {{item.nombre}}</td>
          <td class="col-xs-2"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="GetAlumno(item.estudianteID)">Editar</button></td>
          <td class="col-xs-2"><button type="button" class="btn btn-primary btn-sm" (click)="Delete(item.estudianteID)">Cancelar</button></td>
        </tr>    
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Alumnos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <ng-template [ngIf]="alumno.estudianteID" [ngIfElse]="elseBlock">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Matricula:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="alumno.matricula">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Apellido Paterno:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="alumno.paterno">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Apellido Materno:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="alumno.materno">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="recipient-name" [(ngModel)]="alumno.nombre">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Email:</label>
              <input type="email" class="form-control" id="recipient-name" [(ngModel)]="alumno.mail">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Generacion:</label>
              <select class="form-control" [(ngModel)]="alumno.generacionID">
                <option value="" selected="selected">Seleccione una Generacion</option>
                <option *ngFor="let item of ListaGeneraciones" value={{item.generacionID}}>{{item.titulo}}</option>
              </select>
            </div>
            </ng-template>
            <ng-template #elseBlock>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Usuario Alumno:</label>
                <select class="form-control" [(ngModel)]="alumnoIns.usuarioID">
                  <option selected="selected">Seleccione una Opción</option>
                  <option *ngFor="let item of Usuarios" [value]="item.usuarioID">
                  {{item.paterno}} {{item.materno}} {{item.nombre}}
                  </option>
                </select>
              </div>
            </ng-template>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" #myModalClose>Cerrar</button>
            <ng-template [ngIf]="alumno.estudianteID" [ngIfElse]="elseBlock2">
              <button type="button" class="btn btn-primary" id="act" name="act" (click)="Actualizar()">Actualizar Alumno</button>
            </ng-template>
            <ng-template #elseBlock2>
              <button type="button" class="btn btn-primary" id="guarda" name="guarda" (click)="Guardar()">Guardar Alumno</button>
            </ng-template>
          </div>
      </div>
  </div>
</div>
</block-ui>
