<block-ui>
    <div class="d-flex justify-content-center"><label>Asignación Alumnos</label></div><br>

    <div class="row" style="margin-left: 5px;">
        <div class="form-group">
            <label>Busqueda por Grupo</label>
            <select class="form-control" (change)="onChangeGpo($event.target.value)">
                <option value="0" selected="selected">Seleccione Un Grupo</option>
                <option value="0">Todos las Grupos</option>
                <option *ngFor="let item of Grupos" [value]="item.grupoID">{{item.descripcion}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Busqueda por Materia</label>
            <select class="form-control" (change)="onChangeMat($event.target.value)">
                <option value="0" selected="selected">Seleccione Una Materia</option>
                <option value="0">Todas las Materias</option>
                <option *ngFor="let item of Materias" [value]="item.materiaID">{{item.nombre}} <label><b>-- Creditos:
                        </b> </label>{{item.creditos}} </option>
            </select>
        </div>



    </div>
    <div class="container" style="margin-left: 5px;">
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal"
            (click)="limpiar()">Asignación Docente</button>
        <table class="table table-fixed">
            <thead>
                <tr>
                    <th class="col-xs-3">Grupo</th>
                    <th class="col-xs-3">Docente</th>
                    <th class="col-xs-3">Clave</th>
                    <th class="col-xs-3">Nombre Materia</th>
                    <th class="col-xs-3">Creditos</th>
                    <th class="col-xs-3">Registrar Alumno</th>
                    <th class="col-xs-3">Lista de Alumnos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of AsignaDoc">
                    <td class="col-xs-3">{{item.nombreGpo}}</td>
                    <td class="col-xs-3">{{item.paternoDoc}} {{item.maternoDoc}} {{item.nombreDoc}}</td>
                    <td class="col-xs-3">{{item.clave}}</td>
                    <td class="col-xs-3">{{item.nombreMat}}</td>
                    <td class="col-xs-3">{{item.creditos}}</td>
                    <td class="col-xs-3"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#exampleModal" (click)="GetAsigna(item.asignacionID,item.grupoID)">Registrar
                            Alumno </button></td>
                    <td class="col-xs-3"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target=".bd-example-modal-lg" (click)="GetListaAlumnos(item.asignacionID)">Lista de
                            Alumnos</button></td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button> -->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alumno-Materia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="alumnoIns.EstudianteID">
                            <option selected>Seleccione un Alumno</option>
                            <option *ngFor="let item of Alumnos" [value]="item.estudianteID">{{item.paterno}}
                                {{item.materno}} {{item.nombre}}</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #myModalClose>Cerrar</button>
                    <button type="button" class="btn btn-primary" id="guarda" name="guarda" (click)="Guardar()">Guardar
                        Asignación</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lista de Alumnos : <label><b>{{NumeroAlumnos}}</b></label></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tableFixHead">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Grupo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ListaAlumnos">
                                    <td>{{item.estudianteNombre}}</td>
                                    <td>{{item.grupoNombre}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #myModalClose>Cerrar</button>
                  
                </div>
            </div>
        </div>
    </div>
</block-ui>