<block-ui>
    <div class="d-flex justify-content-center"><label>Asignación Alumnos</label></div><br>

    <div class="row" style="margin-left: 5px;">
        <div class="form-group">
            <label>Busqueda por Grupo</label>
            <select class="form-control" (change)="onChangeGpo($event.target.value)">
                <option value="0" selected="selected">Seleccione Un Grupo</option>
                <option value="0">Todos las Grupos</option>
                <option *ngFor="let item of Grupos" [value]="item.grupoID">{{item.descripcion}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>Busqueda por Materia</label>
            <select class="form-control" (change)="onChangeMat($event.target.value)">
                <option value="0" selected="selected">Seleccione Una Materia</option>
                <option value="0">Todas las Materias</option>
                <option *ngFor="let item of Materias" [value]="item.materiaID">{{item.nombre}} <label><b>-- Creditos:
                        </b> </label>{{item.creditos}} </option>
            </select>
        </div>



    </div>
    <div class="container" style="margin-left: 5px;">

        <table class="table table-fixed">
            <thead>
                <tr>
                    <th class="col-xs-3">Grupo</th>
                    <th class="col-xs-3">Docente</th>
                    <th class="col-xs-3">Clave</th>
                    <th class="col-xs-3">Nombre Materia</th>
                    <th class="col-xs-3">Creditos</th>
                    <th class="col-xs-3">Registrar Alumno</th>
                    <th class="col-xs-3">Lista de Alumnos</th>
                    <th class="col-xs-3">Actas de Evaluación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of AsignaDoc">
                    <td class="col-xs-3">{{item.nombreGpo}}</td>
                    <td class="col-xs-3">{{item.paternoDoc}} {{item.maternoDoc}} {{item.nombreDoc}}</td>
                    <td class="col-xs-3">{{item.clave}}</td>
                    <td class="col-xs-3">{{item.nombreMat}}</td>
                    <td class="col-xs-3">{{item.creditos}}</td>
                    <td class="col-xs-3">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#exampleModal" (click)="GetAsigna(item.asignacionID,item.grupoID)">Registrar
                            Alumno </button>
                    </td>
                    <td class="col-xs-3">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target=".bd-example-modal-lg" (click)="GetListaAlumnos(item.asignacionID)">Lista de
                            Alumnos</button>
                    </td>
                    <td class="col-xs-3">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#exampleModal2" (click)="GetIDAsignacion(item.asignacionID)">Actas de evaluacion</button>
                </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Button trigger modal -->
    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button> -->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Alumno-Materia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label><b>Seleccionar Alumno:</b></label>
                        <select class="form-control" [(ngModel)]="alumnoIns.EstudianteID">
                            <option selected>Seleccione un Alumno</option>
                            <option *ngFor="let item of Alumnos" [value]="item.estudianteID">{{item.paterno}}
                                {{item.materno}} {{item.nombre}}</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #myModalClose>Cerrar</button>
                    <button type="button" class="btn btn-primary" id="guarda" name="guarda" (click)="Guardar()">Guardar
                        Asignación</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Lista de Alumnos : <label><b>{{NumeroAlumnos}}</b></label></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tableFixHead">
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Grupo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ListaAlumnos">
                                    <td>{{item.estudianteNombre}}</td>
                                    <td>{{item.grupoNombre}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #myModalClose>Cerrar</button>
                </div>
            </div>
        </div>
    </div>

<!--Actas de evaluacion-->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="exampleModal2" 
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><label><b>Crear Acta</b></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Formulario Acta-->
                <div class="row">
                    <div class="col">
                      <!-- Name input -->
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form8Example1">Folio:</label>
                        <input type="text" id="form8Example1" class="form-control" placeholder="Ingrese Folio de Acta" [(ngModel)]="actaEva.Folio"/>
                      </div>
                    </div>
                    <div class="col">
                      <!-- Email input -->
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form8Example2">Fecha:</label>
                        <input type="date" class="form-control" id="recipient-name" [(ngModel)]="actaEva.Fecha">
                      </div>
                    </div>
                  </div>
                  
                  <hr />
                  
                  <div class="row">
                    <div class="col">
                      <!-- Name input -->
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form8Example3">Seleccione un Ciclo</label>
                        <select class="form-control" [(ngModel)]="actaEva.CicloID">
                            <option selected>Seleccione un Ciclo</option>
                            <option *ngFor="let item of Ciclos" [value]="item.cicloID">{{item.periodo}}</select>
                      </div>
                    </div>
                    <div class="col">
                      <!-- Name input -->
                      <div data-mdb-input-init class="form-outline">
                        <label class="form-label" for="form8Example4">Seleccione Tipo de Examen</label>
                        <select class="form-control" [(ngModel)]="actaEva.TipoExamenID">
                            <option selected>Seleccione un Tipo de Examen</option>
                            <option *ngFor="let item of Examen" [value]="item.tipoExamenID">{{item.titulo}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col">
                        <!-- Name input -->
                        <div data-mdb-input-init class="form-outline">
                          <label class="form-label" for="form8Example4">Seleccione Sinodal</label>
                          <select class="form-control" [(ngModel)]="actaEva.DocenteID">
                              <option [value]="" selected>Seleccione un Sinodal</option>
                              <option *ngFor="let itemx of Docentes" [value]="itemx.docenteID">{{itemx.paterno}} {{itemx.materno}} {{itemx.nombre}}</option>
                          </select>
                        </div>
                      </div>
              
                  </div>
                  <hr />
                  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="GuardarActa()">Crear Acta de Evaluación</button>
                  <hr />
              
                
                <div class="tableFixHead">
                    <table>
                        <thead>
                            <tr>
                                <th>Actas</th>
                                <th align="right" style="text-align: right;">Acta de Evaluación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Actas">
                                <td>{{item.fecha}}</td>
                                <td align="right"><button type="button" class="btn btn-danger btn-sm" (click)="Reporte()">Ver Acta de Evaluación</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #myModalClose>Cerrar</button>
            </div>
        </div>
    </div>
</div>
</block-ui>