<block-ui>
<div class="d-flex justify-content-center"><label>Catalogo de Materias</label></div><br>

<div class="container" style="margin-left: 5px;">
    <input type="text" [(ngModel)]="searchString" class="form-control mb-3" placeholder="Buscar en la tabla...">
  <div>
    <select (change)="onTableSizeChange($event)" class="form-control" style="width: 200px;">
      <option value="5" selected>No. de registros</option>
      <option *ngFor="let item of tableSizes">{{item}}</option>
    </select>
  </div><br>
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="limpiar()">Agregar
        Materia</button>
    <table class="table table-fixed">
        <thead>
            <tr>
                <th class="col-xs-3">Clave</th>
                <th class="col-xs-3">Nombre</th>
                <th class="col-xs-3">Creditos</th>
                <th class="col-xs-3">Horas</th>
                <th class="col-xs-3">Fecha</th>
                <th class="col-xs-3">Editar</th>
                <th class="col-xs-3">Cancelar</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of (filteredUsuarios | paginate: {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              }); let i=index">
                <td class="col-xs-3">{{item.clave}}</td>
                <td class="col-xs-3">{{item.nombre}}</td>
                <td class="col-xs-3">{{item.creditos}}</td>
                <td class="col-xs-3">{{item.horas}}</td>
                <td class="col-xs-3">{{item.fechaCreacion}}</td>
                <td class="col-xs-3"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="Getmateria(item.materiaID)">Editar</button></td>
                <td class="col-xs-3"><button type="button" class="btn btn-primary btn-sm" (click)="Delete(item.materiaID)">Cancelar</button></td>
            </tr>
        </tbody>
    </table>
    <div>
        <pagination-controls previousLabel="Ant" nextLabel="Sig" [responsive]="true"
          (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Materias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Clave:</label>
                        <input type="text" class="form-control" id="recipient-name" [(ngModel)]="materia.clave">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="recipient-name" [(ngModel)]="materia.nombre">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Creditos:</label>
                        <input type="text" class="form-control" id="recipient-name" [(ngModel)]="materia.creditos">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Horas:</label>
                        <input type="text" class="form-control" id="recipient-name" [(ngModel)]="materia.horas">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Semestre:</label>
                        <select class="form-control" [(ngModel)]="materia.semestreID">
                          <option selected="selected">Seleccione una Opción</option>
                          <option [value]="1">Primer Semestre</option>
                          <option [value]="2">Segundo Semestre</option>
                          <option [value]="3">Tercer Semestre</option>
                          <option [value]="5">Cuarto Semestre</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Estatus:</label>
                        <select class="form-control" [(ngModel)]="materia.activo">
                          <option selected="selected">Seleccione una Opción</option>
                          <option [ngValue]="true">Activo</option>
                          <option [ngValue]="false">Inactivo</option>
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #myModalClose>Cerrar</button>
                <ng-template [ngIf]="materia.materiaID" [ngIfElse]="elseBlock">
                  <button type="button" class="btn btn-primary" id="act" name="act" (click)="Actualizar()">Actualizar Materia</button>
                </ng-template>
                <ng-template #elseBlock>
                  <button type="button" class="btn btn-primary" id="guarda" name="guarda" (click)="Guardar()">Guardar Materia</button>
                </ng-template>
              </div>
        </div>
    </div>
</div>
</block-ui>